$gradientes: (
	gradiente1: linear-gradient(315deg, #bdd4e7 0%, #8693ab 74%),
	gradiente2: linear-gradient(315deg, #533057 0%, #2a7bb4 74%),
);


.logo{
	width: 120px;
	height: 120px;
    @media screen and (max-width:768px){
        width: 70px;
		height: 70px;
    }
}

.header{
	background-image: map-get($gradientes, gradiente1);
    @media screen and (max-width:768px){
        background-color: #7f5a83;
		background-image: map-get($gradientes,gradiente2);
    }
}

.encabezado__menu{
	list-style: none;
}

.footer{
	
	background-image: map-get($gradientes, gradiente1);
    @media screen and (max-width:768px){
        background-color: #7f5a83;
		background-image: map-get($gradientes,gradiente2);
    }
}

.texto__susc{
	font-size: 20px;
	font-weight: bold;
    @media screen and (max-width:768px){
        font-size: 14px;
		color: white;
		font-weight: bold;
    }
}

.correo__susc{
    @media screen and (max-width:768px){
        font-size: 14px;
		color: white;
		font-weight: bold;
    }
}



