.mainindex{
	background-image: url("../multimedia/Fondo.jpg");
    background-repeat:repeat-y;
    background-position:center;
    background-size:cover;
}

@mixin textos($text-align,$font-size,$padding) {
	text-align: $text-align;
	font-size: $font-size;
	padding: $padding;
	
}
.mainindex__local{
	@include textos(center,70px,10px);
	text-shadow: 1px 1px;
	font-style: italic;
	@media screen and (max-width: 768px){
		@include textos(center,30px,5px)
	}
	
}

.mainindex__texto{
	@include textos(left,20px,10px);
	@media screen and (max-width: 768px){
		@include textos(center,13px,5px)
	}
}

.imagen3d{
	display: flex;
	justify-content: center;
	padding: 10px;
    img{
        width: 80%;
	    height: 80%;
	    transition: all 1s;
        &:hover{
            height:	90%;
	        width: 90%;
        }

        }
}

.mainindex__proyectos{
	@extend .mainindex__local;
}