*{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}

/*CSS INDEX*/

.mainindex{
	background-image: url("../multimedia/Fondo.jpg");
    background-repeat:repeat-y;
    background-position:center;
    background-size:cover;
}

.mainindex__local{
	text-align: center;
	
}

.imagen3d{
	display: flex;
	justify-content: center;
	padding: 10px;
}

.imagen3d img{
	width: 80%;
	height: 80%;
	transition: all 1s;
}

.imagen3d img:hover{
	height:	90%;
	width: 90%;
}

.mainindex__proyectos{
	text-align: center;
	padding: 10px;
}

.mainindex__texto{
	text-align: left;
	padding: 10px;
}

/*CSS Productos*/
.mainProductos{
	background-image: url("../multimedia/Fondo.jpg");
    background-repeat:repeat-y;
    background-position:center;
    background-size:cover;
}

.mainProductos__titulo{
	text-align: center;
}

.Hibisco{
	padding: 20px;
}
.cajaimagen1{
	padding: 20px;
}

.mainProductos__imagen1{
	width: 30%;
	height: 30%;
}

.Lechuza{
	padding: 20px;
}

.cajaimagen2{
	padding: 20px;
}

.mainProductos__imagen2{
	width: 30%;
	height: 30%;
}

/*CSS Contacto*/

.formulario{
	padding-left: 10px;
	padding-bottom: 10px;
}

.mainContacto{
	background-image: url("../multimedia/Fondo.jpg");
    background-repeat:repeat-y;
    background-position:center;
    background-size:cover;
}


/*CSS footer header*/

.logo{
	width: 120px;
	height: 120px;
}

.header{
	background-color: #bdd4e7;
	background-image: linear-gradient(315deg, #bdd4e7 0%, #8693ab 74%);
}

.encabezado__menu{
	list-style: none;
}

.footer{
	background-color: #bdd4e7;
	background-image: linear-gradient(315deg, #bdd4e7 0%, #8693ab 74%);
}